<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>UserMainController</servlet-name>
        <servlet-class>baohq.usercontroller.UserMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>baohq.usercontroller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>baohq.usercontroller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>baohq.usercontroller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>baohq.usercontroller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>baohq.usercontroller.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserController</servlet-name>
        <servlet-class>baohq.usercontroller.ShowUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMainController</servlet-name>
        <servlet-class>baohq.productcontroller.ProductMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearchController</servlet-name>
        <servlet-class>baohq.productcontroller.ProductSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteController</servlet-name>
        <servlet-class>baohq.productcontroller.ProductDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateController</servlet-name>
        <servlet-class>baohq.productcontroller.ProductUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductController</servlet-name>
        <servlet-class>baohq.productcontroller.ShowProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductInsertController</servlet-name>
        <servlet-class>baohq.productcontroller.ProductInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusShowProductController</servlet-name>
        <servlet-class>baohq.customercontroller.CusShowProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusMainController</servlet-name>
        <servlet-class>baohq.customercontroller.CusMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusSearchController</servlet-name>
        <servlet-class>baohq.customercontroller.CusSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserInfomation</servlet-name>
        <servlet-class>baohq.customercontroller.GetUserInfomation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusUpdateController</servlet-name>
        <servlet-class>baohq.customercontroller.CusUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>baohq.customercontroller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveController</servlet-name>
        <servlet-class>baohq.customercontroller.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCartController</servlet-name>
        <servlet-class>baohq.ordercontroller.InsertCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderController</servlet-name>
        <servlet-class>baohq.ordercontroller.ShowOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderMainController</servlet-name>
        <servlet-class>baohq.ordercontroller.OrderMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderController</servlet-name>
        <servlet-class>baohq.ordercontroller.GetOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>baohq.ordercontroller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderController</servlet-name>
        <servlet-class>baohq.ordercontroller.SearchOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserMainController</servlet-name>
        <url-pattern>/UserMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/InsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserController</servlet-name>
        <url-pattern>/ShowUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMainController</servlet-name>
        <url-pattern>/ProductMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearchController</servlet-name>
        <url-pattern>/ProductSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteController</servlet-name>
        <url-pattern>/ProductDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateController</servlet-name>
        <url-pattern>/ProductUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductController</servlet-name>
        <url-pattern>/ShowProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductInsertController</servlet-name>
        <url-pattern>/ProductInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusShowProductController</servlet-name>
        <url-pattern>/CusShowProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusMainController</servlet-name>
        <url-pattern>/CusMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusSearchController</servlet-name>
        <url-pattern>/CusSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserInfomation</servlet-name>
        <url-pattern>/GetUserInfomation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusUpdateController</servlet-name>
        <url-pattern>/CusUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveController</servlet-name>
        <url-pattern>/RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCartController</servlet-name>
        <url-pattern>/InsertCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderController</servlet-name>
        <url-pattern>/ShowOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderMainController</servlet-name>
        <url-pattern>/OrderMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderController</servlet-name>
        <url-pattern>/GetOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/DeleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderController</servlet-name>
        <url-pattern>/SearchOrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
